@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.App{
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.form-container{
  min-width: 30vw;
  height: 45vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 100px 30px;
  position: relative;
  gap: 10px;
  border: solid 1px #111;
  border-radius: 5px 5px 0 0;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}
.title{
  color: #666;
  font-weight: 500;
}